/**
 * All of the CSS for your public-facing functionality should be included in
 * this file.
 */
.elementor-widget-sellkit-checkout .sellkit-multistep-checkout.sellkit-multistep-checkout-first
 #customer_details{ display: none!important; }
.elementor-widget-sellkit-checkout .sellkit-multistep-checkout-first .sellkit-multistep-checkout-first-footer{
 display: none!important; }
.elementor-widget-sellkit-checkout .sellkit-multistep-checkout.sellkit-multistep-checkout-second{
 display: none!important; }
.elementor-widget-sellkit-checkout .sellkit-multistep-checkout.sellkit-multistep-checkout-third{
 display: block!important; }
.elementor-widget-sellkit-checkout .sellkit-multistep-checkout.sellkit-multistep-checkout-third
 .woocommerce-billing-fields h4.sellkit-one-page-checkout-billing-header
  { display: none!important; } 
.elementor-widget-sellkit-checkout .sellkit-multistep-checkout.sellkit-multistep-checkout-third
 .woocommerce-billing-fields p.billing-desc{ display: none!important; } 
.elementor-widget-sellkit-checkout .sellkit-multistep-checkout.sellkit-multistep-checkout-third
 .woocommerce-billing-fields .billing-method{ display: block!important; } 
.elementor-widget-sellkit-checkout .sellkit-multistep-checkout.sellkit-multistep-checkout-third{
 display: flex!important; flex-direction: column!important; }
.elementor-widget-sellkit-checkout .sellkit-multistep-checkout.sellkit-multistep-checkout-third
 .woocommerce-billing-fields{ order: -1!important;}
.elementor-widget-sellkit-checkout .sellkit-multistep-checkout.sellkit-multistep-checkout-third
 .woocommerce-billing-fields .sellkit-one-page-checkout-payment-desc{ display:
  none!important; }
.elementor-widget-sellkit-checkout .sellkit-checkout-right-column
 .sellkit-one-page-checkout-place-order .sellkit-checkout-widget-return-button
  { display: none!important; } 

 .elementor-widget-sellkit-checkout .sellkit-checkout-right-column
 .sellkit-one-page-checkout-place-order #place_order{ width:
  100%!important; }
.sellkit-checkout-right-column .sellkit-multistep-checkout-sidebar .woocommerce-checkout-review-order
 .woocommerce-checkout-review-order-table .product-quantity{ display:
 none!important; }
.sellkit-checkout-right-column .sellkit-multistep-checkout-sidebar .woocommerce-checkout-review-order
 .woocommerce-checkout-review-order-table .sellkit-checkout-variations
 { display: none!important; }
